@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">

    <div style="width: 50%;">
        <h1 class="brown-rectangle">Real Estate</h1>

        <img src="~/img/Fence.jpg" alt="Fence Image" />
    </div>
    
    <div class="mt-5">
        <a class="link" asp-area="" asp-controller="Home" asp-action="SearchPage">Click here to go to the search page</a>
    </div>

    <div class="mt-5">
        <a class="link" asp-area="" asp-controller="Home" asp-action="IndexWithIdSearch">Or type index of real estate in the directory</a>
    </div>

    <form asp-action="SearchById" method="post" class="mt-2">
        <div class="form-group" >
            <input type="text" class="form-control w-25" id="id" name="id" />
        </div>
        <button type="submit" class="btn btn-primary mt-2">ok</button>
    </form>

</div>
